body{
  font-family:'Arial', sans-serif;
  background-color: black;
  color:white;
}

.app-container{
  text-align:center;
  padding:20px;
}

.movie-list{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}

.movie-card{
  width:150px;
  position:relative;

}

.movie-poster{
  width:100%;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 검정 배경 */
  opacity: 0; /* 초기 상태: 투명 */
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.movie-card:hover .overlay {
  opacity: 1;
}